<!-- app_header start -->
<nav class="navbar navbar-default">
  <div class="container">
      <div class="navbar-header">
          <!-- Application Logo (now I am using my site logo) -->
        	<a class="navbar-brand" href="./blog.html">
    				<span class="logo"></span>
    			</a>
      </div><!--/.navbar-header -->
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right mt10 mr10">
          <li class="active"><a href="./blog.html">Home</a></li>
          <li><a href="http://amitkbansal.com/#about" target="_blank">About Me</a></li>
          <li><a href="http://amitkbansal.com/resume/AmitBansal-Resume.pdf" target="_blank">Resume</a></li>
          <li><a href="http://amitkbansal.com/#skills" target="_blank">Skills</a></li>
          <li><a href="http://amitkbansal.com/#references" target="_blank">References</a></li>
          <li><a href="http://amitkbansal.com/#contact" target="_blank">Contact Me</a></li>
        </ul>
      </div><!--/.nav-collapse -->
  </div><!--/.container -->
</nav><!--/.nav -->
<!-- app_header end -->